doctype html
html
  head
    link(href='css/index.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/ui.css', type='text/css')
    title Gradient creator APP
  body(align='center')
    h1(style='color: #096ac8; font-size:24px') Gradient creator
    br
    #wrap
      #mainarea.maingrad
      #coldwn.col
        a#clk CLICK ME
    br
    #radio
      input#radio1.gt(type='radio', name='gstyle', value='lin', checked='checked')
      label(for='radio1') Linear
      input#radio2.gt(type='radio', name='gstyle', value='rad')
      label(for='radio2') Radial
      input#radio3.gt(type='radio', name='gstyle', value='eli')
      label(for='radio3') Elliptical
      input#radio4.gt(type='radio', name='gstyle', value='rlin')
      label(for='radio4') Repeat Linear
      input#radio5.gt(type='radio', name='gstyle', value='rrad')
      label(for='radio5') Repeat Radial
    #re
      input#radio6.gts(type='radio', name='gl', value='cover', checked='checked')
      label(for='radio6') cover
      input#radio7.gts(type='radio', name='gl', value='contain')
      label(for='radio7') contain
      input#radio8.gts(type='radio', name='gl', value='closest-side')
      label(for='radio8') closest-side
      input#radio9.gts(type='radio', name='gl', value='closest-corner')
      label(for='radio9') closest-corner
      input#radio0.gts(type='radio', name='gl', value='farthest-side')
      label(for='radio0') farthest-side
      input#radioa.gts(type='radio', name='gl', value='farthest-corner')
      label(for='radioa') farthest-corner
    br
    table(width='100', height='100', border='0', align='center', cellpadding='1', cellspacing='1')
      tr
        td
          input#r.rad(type='radio', name='radio3', value='left top')
        td
          input#r2.rad(type='radio', name='radio3', value='top', checked='checked')
        td
          input#r3.rad(type='radio', name='radio3', value='right top')
      tr
        td
          input#r6.rad(type='radio', name='radio3', value='left')
        td
          input#r5.rad(type='radio', name='radio3', value='center center')
        td
          input#r4.rad(type='radio', name='radio3', value='right')
      tr
        td
          input#r7.rad(type='radio', name='radio3', value='bottom left')
        td
          input#r8.rad(type='radio', name='radio3', value='bottom')
        td
          input#r9.rad(type='radio', name='radio3', value='bottom right')
    br
    #footer(align='center')
      #tea.ta
        textarea#taid(placeholder='CSS Generated', readonly='')
      #prev.pre
        h1 Preview
    input#wb(type='checkbox')
    label(for='wb') Gradient Background
    br
    script(type='text/javascript', src='js/jquery.min.js')
    script(src='js/ui.js', type='text/javascript')
    script(type='text/javascript', src='js/colorpicker.js')
    script(type='text/javascript', src='js/main.js')
    br